{% extends 'base.html' %}

{% block content %}

{% if name %}
	<h1>Welcome back, {{name}}</h1>
{% else %}

	<h1>Hello World</h1>

	<p> returning some random text </p>

{% endif %}



<a class="btn btn-primary" href="{{ url_for('customer_viewmyflights')}}" role="button">View Flights</a>


<a class="btn btn-primary" href="{{ url_for('customer_purchasetickets')}}" role="button">Purchase Tickets</a>

<a class="btn btn-primary" href="{{ url_for('customer_searchforflights')}}" role="button">Search for Flights</a>

<a class="btn btn-primary" href="{{ url_for('customer_trackmyspending')}}" role="button">Track my Spending</a>

<a class="btn btn-primary" href="{{ url_for('index')}}" role="button">Logout</a>


	<p> fnjjksnfekanfak </p>

{% endblock %}