c{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}



        <h3 align="center">Hi Customer</h3>
        <form method="POST" action="{{url_for('search')}}">









   <br />

  <select class="form-select" aria-label="Default select example" name="criteria" id="LoginType">
  <option selected>Select Search Criteria Type</option>
  <option value="flight_num">Flight Number</option>
  <option value="arrival_time">Arrival Date</option>
  <option value="departure_time">Departure Date</option>

    <br />

<div class="form-group">
    <label for="input_value">Input Value Here</label>
    <input
      type="text"
      class="form-control"
      id="input_value"
      name="input_value"
      placeholder=" Input Value Here"
    />
  </div>


</select>



  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}