{% extends 'base.html' %}

{% block content %}

	<h1>Hello World</h1>

	<p> returning some random text yes </p>



<a class="btn btn-primary" href="{{ url_for('search')}}" role="button">Search</a>


<a class="btn btn-primary" href="{{ url_for('customer_home')}}" role="button">Customer</a>


<a class="btn btn-primary" href="{{ url_for('registers')}}" role="button">Register</a>

<a class="btn btn-primary" href="{{ url_for('login')}}" role="button">Login</a>

<a class="btn btn-primary" href="{{ url_for('booking_agent_home')}}" role="button">Booking Agent</a>

	<p> fnjjksnfekanfak </p>

{% endblock %}