{% extends 'base.html' %}
{% block content %}

<table class="table table-striped">
    <thead>
                    <tr>
                    <th>Customer Name</th>


                    </tr>
                    </thead>

     <tbody>
                    {% for row in data %}
                    <tr>
                    <td>{{row['airport_city']}}</td>
                        <td>{{row['airport_name']}}</td>


                    </tr>




                    {% endfor %}
                    </tbody>

    </table>
{% endblock %}